<div class="card mb-4">
	<div class="card-body">
		<h5 class="card-title">{{task.title}}</h5>
		<p class="card-text">{{task.description}}</p>
		<div class="row">
			<div class="col-md-6"><span class="badge" [ngClass]="{
					'bg-primary': task.status == 1,
					'bg-warning': task.status == 2,
					'bg-success': task.status == 3
				}">{{statusEnums[task.status]}}</span></div>
				<div class="col-md-6">
					<span class="badge bg-secondary">{{priorityEnums[task.priority]}}</span>
				</div>
		</div>
	</div>
	<div class="card-footer">
		<small class="text-muted">{{!!task.updatedAt ? task.updatedAt : task.createdAt | date}}{{task.priority}}</small>
	</div>
</div>